*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: 'Roboto', sans-serif;
}


.main 
{
    max-width: 120rem;
    height: 30rem;
   
}
.inicial 
{
    width: 30rem;
    height: 4rem;
    margin: 4rem auto;
    padding-top:1rem ;
    background-color: burlywood;
    border-radius: .5rem;
    h1 
    {
        text-align: center;
    }
}